api
beautifulsoup4
brotlipy==0.7.0
certifi==2021.5.30
cffi
charset-normalizer
click==8.0.3
colorama 
cryptography 
dataclasses
Flask==2.0.1
Flask-Cors 
icrawler==0.6.2
idna
itsdangerous 
Jinja2
lxml 
MarkupSafe
olefile==0.46
Pillow 
pycparser 
pyOpenSSL 
PySocks 
requests
six
soupsieve 
urllib3 
Werkzeug 
win-inet-pton 
wincertstore==0.2