.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #7ff1f3;
  color: #00b9bc;
}

.header-title a {
  text-decoration: none;
  color: #780707;
  font-weight: bold;
}

.header-username {
  margin-left: auto; /* ユーザーネームを右に寄せる */
}
